{{- if .Values.autoscaling.node }}
apiVersion: "autoscaling.k8s.io/v1"
kind: VerticalPodAutoscaler
metadata:
  name: calico-node
  namespace: {{ .Release.Namespace }}
spec:
  targetRef:
    apiVersion: apps/v1
    kind: DaemonSet
    name: calico-node
  updatePolicy:
    updateMode: "Auto"
  resourcePolicy:
    containerPolicies:
    - containerName: calico-node
      minAllowed:
        memory: 50Mi
      maxAllowed:
        memory: 2800Mi
      controlledValues: RequestsOnly
    - containerName: "add-snat-rule-to-upstream-dns"
      minAllowed:
        cpu: 10m
        memory: 50Mi
      maxAllowed:
        cpu: 1
        memory: 1G
      controlledValues: RequestsOnly
    - containerName: "network-unavailable-condition-ensurer"
      minAllowed:
        cpu: 1m
        memory: 20Mi
      maxAllowed:
        cpu: 10m
        memory: 100Mi
      controlledValues: RequestsOnly
{{- end }}
