---
kind: ConfigMap
apiVersion: v1
metadata:
  name: calico-node-vertical-autoscaler
  namespace: kube-system
data:
  node-autoscaler: |-
    {
      "calico-node": {
        "requests": {
          "memory": {
            "base": "50Mi",
            "step": "50Mi",
            "nodesPerStep": 10,
            "max": "1400Mi"
          }
        },
        "limits": {
          "memory": {
            "base": "2800Mi",
            "max": "2800Mi"
          }
        }
      }
    }
