---
kind: Deployment
apiVersion: {{ include "deploymentversion" . }}
metadata:
  name: calico-node-vertical-autoscaler
  namespace: kube-system
  labels:
    k8s-app: calico-node-autoscaler
spec:
  revisionHistoryLimit: 0
  replicas: 1
  selector:
    matchLabels:
      k8s-app: calico-node-autoscaler
  template:
    metadata:
      annotations:
        checksum/configmap-calico-node-vertical-autoscaler: {{ include (print $.Template.BasePath "/node-cpva/configmap-node-vertical-autoscaling.yaml") . | sha256sum }}
      labels:
        k8s-app: calico-node-autoscaler
        networking.gardener.cloud/to-public-networks: allowed
        networking.gardener.cloud/to-apiserver: allowed
        networking.gardener.cloud/to-dns: allowed
    spec:
      priorityClassName: system-cluster-critical
      securityContext:
        runAsUser: 65534
      containers:
        - image:  {{ index .Values.images "calico-cpva" }}
          name: autoscaler
          command:
            - /cpvpa
            - --target=daemonset/calico-node
            - --namespace=kube-system
            - --logtostderr=true
            - --poll-period-seconds=30
            - --v=2
            - --config-file=/etc/config/node-autoscaler
          resources:
            requests:
              cpu: 10m
              memory: 50Mi
            limits:
              cpu: 10m
              memory: 50Mi
          volumeMounts:
            - name: config
              mountPath: /etc/config
      volumes:
        - name: config
          configMap:
            name: calico-node-vertical-autoscaler
      serviceAccountName: calico-node-cpva
