{{- if .Values.config.ipv4.enabled -}}
{{- if eq .Values.global.overlayEnabled "true" }}
---
apiVersion: crd.projectcalico.org/v1
kind: IPPool
metadata:
  name: default-ipv4-ippool
spec:
  allowedUses:
  - Workload
  - Tunnel
  blockSize: 26
  cidr: "{{ .Values.global.podCIDR }}"
  natOutgoing: true
  nodeSelector: all()
{{- if eq .Values.global.vxlanEnabled "true" }}
  ipipMode: "Never"
  vxlanMode: "Always"
{{- else }}
  ipipMode: "Always"
  vxlanMode: "Never"
{{- end }}
{{- end }}
{{- if eq .Values.global.overlayEnabled "false" }}
---
apiVersion: crd.projectcalico.org/v1
kind: IPPool
metadata:
  name: default-ipv4-ippool
spec:
  allowedUses:
  - Workload
  - Tunnel
  blockSize: 26
  cidr: "{{ .Values.global.podCIDR }}"
  ipipMode: "Never"
  natOutgoing: true
  nodeSelector: all()
  vxlanMode: "Never"
{{- if .Values.global.nodeCIDR }}
---
apiVersion: crd.projectcalico.org/v1
kind: IPPool
metadata:
  name: no-snat-for-node-cidr
spec:
  cidr: "{{ .Values.global.nodeCIDR }}"
  disabled: true
  disableBGPExport: true
{{- end }}
{{- end }}
{{- end -}}
{{- if .Values.config.ipv6.enabled -}}
---
apiVersion: crd.projectcalico.org/v1
kind: IPPool
metadata:
  name: default-ipv6-ippool
spec:
  allowedUses:
  - Workload
  - Tunnel
  blockSize: 122
  cidr: "{{ .Values.global.podCIDR }}"
  ipipMode: Never
  natOutgoing: {{ if .Values.config.ipv6.natOutgoing }}true{{ else }}false{{ end }}
  nodeSelector: all()
  vxlanMode: Never
{{- end -}}
