{{- if .Values.config.kubeControllers.enabled }}
{{- if .Values.vpa.enabled }}
apiVersion: "autoscaling.k8s.io/v1"
kind: VerticalPodAutoscaler
metadata:
  name: calico-kube-controllers
  namespace: {{ .Release.Namespace }}
spec:
  targetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: calico-kube-controllers
  updatePolicy:
    updateMode: "Auto"
  resourcePolicy:
    containerPolicies:
    - containerName: "*"
      minAllowed:
        memory: 50Mi
      maxAllowed:
        cpu: 4
        memory: 10G
      controlledValues: RequestsOnly
{{- end }}
{{- end }}
